<section class="p-grid p-nogutter">
    <div class="p-col-12 p-xl-6" style="border:1px solid lightgray">
        <p-table #dataTable id="permits_Id" styleClass="p-datatable-striped p-datatable-sm"
            [value]='tableData?.data'
            [dataKey]="tableData?.dataKey" [columns]="tableData?.cols"
            [resizableColumns]="true"
            selectionMode="single" [(selection)]="selectedRow"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnSelect($event)"
            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,35,50]" 
            [showCurrentPageReport]="true" currentPageReportTemplate="{totalRecords} entries"
            [globalFilterFields]="['title']"
            rowHover="true">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">{{col.header}}</th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-row let-columns="columns" let-ri='rowIndex'>
                <tr [pSelectableRow]="row">
                    <td *ngFor="let f of columns">{{row[f.field]}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <div class="p-col-12 p-xl-6" style="border:1px solid lightgray">
        <p-chart type="line" [data]="chartData.data" [options]="chartData.options"></p-chart>
    </div>

    <div class="p-col-12">[ONE][TWO</div>
</section>

