<section style="margin: 5px" class='p-grid p-nogutter p-justify-between'>
    <div class='p-col'>
        <ol>
            <li *ngFor="let r of routes">
                <a [routerLink]="r.path">{{r.path}}</a>
            </li>
        </ol>
    </div>
</section>

<hr />

<section class='p-grid p-nogutter p-justify-between'>
    <div id="d1"><h3 class="main-title">Capital Archives Records Search</h3></div>
    <div id="d2">Something Goes Here</div>
</section>

<div class="p-grid" id="test1">
    <div class="p-col-12 p-md-6 p-lg-3">A</div>
    <div class="p-col-12 p-md-6 p-lg-3">B</div>
    <div class="p-col-12 p-md-6 p-lg-3">C</div>
    <div class="p-col-12 p-md-6 p-lg-3">D</div>
</div>